.projects {
  list-style: none;
  padding: 0;

  li {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    time {
      text-transform: uppercase;
      width: 8rem;
      padding-right: 1rem;
      white-space: nowrap;
    }

    header {
      max-width: 400px;
    }
  }
}
