@import "./type";

* {
  touch-callout: none;
  user-select: none;
}

body {
  color: white;
  background: url(./background.jpg) no-repeat center center fixed;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
}

html, body {
  height: 100%;
}
